@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=League+Spartan:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

html,
body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root, :root[data-theme='light'] {
    --bg-color1: #f6fcfc;
    --bg-color1-alpha: #f6fcfc60;
    --bg-color1-alt: #ebf6f8;
    --bg-border1: #181A1D;
    --color1: #1D2226;
    --bg-color2: #BFDAE0;
    --bg-color2-alpha: #BFDAE060;
    --bg-border2: #A0BDCF;
    --color2: #13161C;
    --bg-color3: #D4EAE9;
    --bg-color3-alpha: #D4EAE960;
    --bg-border3: #ACC9CF;
    --color3: #1C2227;
    --logo-blue: #00BFFF;
    --highlight: #92E9EF;
    --highlight-alpha: #92E9EF60;
    --highlight-border: #7BC6E2;
    --highlight-color: #331814;
    --blue-fg-title: #16334E;
    --bt-grad-default: linear-gradient(180deg, 
        var(--bg-color1), 
        var(--bg-color3));
    --bt-grad-selected: linear-gradient(180deg, 
        var(--bg-color1), 
        var(--bg-color3));
    --bt-border-default: solid 1px transparent;
    --bt-border-hover: solid 3px rgba(164, 219, 233, 0.671);
    --bt-border-selected: solid 1px rgba(198, 206, 231, 0.5);
    --bg-deg-alt-v: linear-gradient(180deg, 
        var(--bg-color1) 0%, 
        var(--bg-color1-alt) 3%, 
        var(--bg-color1-alt) 97%, 
        var(--bg-color1) 100%
    );
    --bg-deg-alt-h: linear-gradient(90deg, 
        var(--bg-color1) 0%, 
        var(--bg-color1-alt) 3%, 
        var(--bg-color1-alt) 97%, 
        var(--bg-color1) 100%
    );
    --blend-mode: lighten;
}

:root[data-theme='dark'] {
    --bg-color1: #2A2929;
    --bg-color1-alpha: #2a292960;
    --bg-color1-alt: #363636;
    --bg-border1: #4d4b4b;
    --color1: #D5DEE3;
    --bg-color2: #3B4B53;
    --bg-color2-alpha: #3B4B5360;
    --bg-border2: #657B7D;
    --color2: #F5F3E4;
    --bg-color3: #486061;
    --bg-color3-alpha: #48606160;
    --bg-border3: #6F8886;
    --color3: #FBF8F0;
    --logo-blue: #00BFFF;
    --highlight: #73D2D5;
    --highlight-alpha: #73D2D560;
    --highlight-border: #A2DBD9;
    --highlight-color: #2F211D;
    --blue-fg-title: #64bbd1;
    --bt-grad-default: linear-gradient(180deg, 
        var(--bg-color1), 
        var(--bg-color3));
    --bt-grad-selected: linear-gradient(180deg, 
        var(--bg-color1), 
        var(--bg-color3));
    --bt-border-default: solid 1px transparent;
    --bt-border-hover: solid 1px rgba(164, 219, 233, 0.671);
    --bt-border-selected: solid 1px rgba(198, 206, 231, 0.5);
    --bg-deg-alt-v: linear-gradient(180deg, 
        var(--bg-color1) 0%, 
        var(--bg-color1-alt) 3%, 
        var(--bg-color1-alt) 97%, 
        var(--bg-color1) 100%
    );
    --bg-deg-alt-h: linear-gradient(90deg, 
        var(--bg-color1) 0%, 
        var(--bg-color1-alt) 3%, 
        var(--bg-color1-alt) 97%, 
        var(--bg-color1) 100%
    );
    --blend-mode: exclusion;
}

* {
    color: var(--color1);
    font-family: 'Source Serif 4', Georgia, 'Times New Roman', Times, serif;
}

h1, h1 > span {
    font-family: 'League Spartan', 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    letter-spacing: 5%;
    line-height: 2rem;
    font-weight: 600;
    color: var(--color1);
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
}

h1 > span {
    color: var(--blue-fg-title);
}

h2 {
    font-family: 'League Spartan';
    font-size: 1.75rem;
    letter-spacing: 5%;
    font-weight: 600;
    color: var(--blue-fg-title);
    margin-bottom: 0;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
}

h3, h4, h5, h6 {
    font-family: 'Instrument Sans';
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0 0.5rem;
    text-align: left;
    color: var(--blue-fg-title);
    text-transform: uppercase;
    text-decoration-line: underline;
}

p {
    font-family: 'Source Serif 4';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0.5rem 0;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.pc {
    display: none;
}

.phone {
    display: block;
}


header {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-areas: "logoholder myname darkmode";
    align-items: center;
    justify-items: center;
    background: var(--bg-deg-alt-v);
    width: 100%;
    position: fixed;
    top: 0px;
    align-self: start;
    z-index: 20;
    padding: 1rem 0;
    border-bottom: solid 1px var(--bg-border3);
    height: fit-content;
}

header .my-name {
    display: flex;
    justify-content: center;
    font-family: 'League Spartan';
    color: var(--color1);
    font-size: 1.5rem;
    font-weight: 250;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0 0vw;
}

header .my-name {
    grid-area: myname;
}

header .my-name span {
    word-break: normal;
}

header .dark-mode-switch {
    grid-area: darkmode;
}

header .dark-mode-switch img {
    height: 5vh;
}

header .logo-holder {
    grid-area: logoholder;
}

header .logo-holder img {
    width: 6rem;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: var(--bg-color1);
}

main > section {
    padding: 2rem 0;
    text-wrap: wrap;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

main .home {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: inset solid 5px var(--blue-fg-title);
    border-left: none;
    border-right: none;
}

main .home > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .home > div div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .home > div img {
    width: 100%;
    border-radius: 2rem;
}

main .home div div p {
    color: var(--color1);
    width: 100%;
}

main .socials {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

main .socials .socials-box {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    background-image: var(--bg-deg-alt-v);
    background-blend-mode: var(--blend-mode);
    border-radius: 0.5rem;
    border: solid 1px var(--bg-border2)
}

.socials-box a {
    display: flex;
}

.socials-box a img {
    background-color: transparent;
    width: 15vw;
    max-width: 64px;
}

main .differential {
    display: flex;
    flex-direction: column;
    background: var(--bg-deg-alt-v);
}

main .differential img {
    width: 100%;
}

main .knowledge {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}

main .knowledge ul {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--bg-border3);
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    width: 100%;
}

main .knowledge ul li {
    display: flex;
    align-items: center;
    padding: 0.3rem 0;
    padding-left: 0.5rem;
}

main .knowledge li img {
    padding-right: 1rem;
}

main .knowledge li span {
    padding-left: 0.5rem;
    font-size: 1.1rem;
    color: var(--color3);
    line-break: auto;
}

main .projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin: 1rem 0;
    background: var(--bg-deg-alt-v);
    padding: 0 5vw;
}

main .projects .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

main .projects .project .presentation {
    display: flex;
    flex-direction: column;
}

main .projects .project .details {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    gap: 3vh;
}

main .projects .project .details ul li {
    list-style: inside;
}

main .projects .project img {
    width: 100%;
    border-radius: 1rem;
    margin: 1rem 0;
    align-self: flex-start;
}

main .projects .project .project-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

main .projects .project .project-buttons div {
    margin: 2rem 1rem 0 1rem;
}

main .projects .project .project-buttons div button {
    height: 3rem;
    padding: 0 1.5rem;
    background: var(--bt-grad-default);
    color: var(--color1);
    font-weight: 500;
    border-radius: 1.5rem;
    border: var(--bt-border-default);
    font-size: 1.5rem;
}

main .projects .project .project-buttons div button:hover {
    border: var(--bt-border-hover);
}

main .education .course {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px var(--bg-border3);
}

main .education .course h3 {
    text-decoration: none;
}

main .education .course span {
    margin-bottom: 1.5rem;
}

main .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-deg-alt-v);
}

main .contacts .contact-info {
    display: flex;
    position: relative;
    flex-direction: column;
    width: fit-content;
    padding: 1rem 2rem;
    border: solid 1px var(--bg-border2);
    border-radius: 0.5rem;
    height: fit-content;
    background-image: url('../img/contact/markus-winkler-q3QPw37J6Xs-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-border1);
    background-blend-mode: var(--blend-mode);
}

main .contacts .contact-info a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 0;
}

main .contacts .contact-info a span{
    margin-left: 0.5rem;
    overflow-wrap: break-word;
    color: var(--color3);
    background-color: var(--bg-color1-alpha);
    background-blend-mode: var(--blend-mode);
    border: solid 1px transparent;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
}

main .contacts .contact-info a img {
    background-color: var(--bg-color1-alpha);
    background-blend-mode: var(--blend-mode);
    border: solid 1px transparent;
    padding: 0.5rem 0.5rem;
    border-radius: 1.2rem;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem 0 6rem 0rem;
}

footer p {
    overflow-wrap: break-word;
    max-width: 90%;
}

nav .section-nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: var(--bg-color1);
    padding: 1rem 0;
    border-top: inset solid 1px var(--bg-border2);
    margin: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#side-logo {
    display: none;
    height: 25vh;
    justify-content: center;
    justify-items: center;
}

nav .section-nav span {
    display: none;
}

nav .section-nav .section-link img {
    min-width: 32px;
    max-width: 64px;
}

@media (min-width: 1100px) {
    main, header {
        padding-left: 350px
    }

    * {
        font-size: 1rem;
        line-height: 3.5rem;
    }

    h1, h2, h3, h4, h5, p {
        flex-wrap: wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        padding: 0 10%;
    }

    h1, h1 > span {
        margin-top: 0;
        font-size: 4rem;
        line-height: 4rem;
        font-family: 'League Spartan', 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 0.2rem;
        width: 80%;
        text-align: center;
    }

    h1 > span {
        font-size: 5rem;
        line-height: 7rem;
    }

    h2 {
        font-family: 'League Spartan', 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: 0.4rem;
        margin: 2rem 0;
        align-self: center;
        width: 100%;
    }

    h3, h4, h5, h6 {
        font-family: 'Instrument Sans';
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: 5%;
        align-self: center;
    }

    p {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.1rem;
        font-family: 'Source Serif 4';
        padding: 2rem 0;
    }

    span {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.1rem;
        font-family: 'Source Serif 4';
    }

    .pc {
        display: block;
    }

    .phone {
        display: none;
    }

    nav .section-nav {
        top: 0px;
        left: 0px;
        flex-direction: column;
        width: 350px;
        height: 100%;
        border-top: none;
        border-right: solid 1px var(--bg-border3);
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3vh;
        flex-wrap: nowrap;
        z-index: 30;
    }

    nav .section-nav .section-link {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
        align-items: center;
        padding-left: 1vw;
    }

    nav .section-nav .section-link span {
        display: inline;
        padding-left: 1vw;
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: var(--color1);
    }

    nav .section-nav .section-link .section-icon {
        width: fit-content;
        display: flex;
        align-items: center;
    }

    nav .section-nav #side-logo {
        display: block;
        align-self: center;
        height: auto;
        width: 70%;
        max-width: 256px;
        padding-bottom: 5vh;
    }

    nav .section-nav .section-link .section-icon img {
        min-width: 32px;
        height: auto;
    }

    header {
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        height: fit-content;
        margin: 2rem 0;
        grid-template-areas: "logoholder myname darkmode";
        background: transparent;
        overflow: visible;
        position: sticky;
        background-color: var(--bg-color1);
    }

    header .logo-holder img {
        visibility: hidden;
        grid-area: "logoholder";
    }

    header .my-name {
        grid-area: "myname";
    }

    header .my-name span {
        font-size: 8vh;
        letter-spacing: 0.6rem;
        line-height: 6vh;
    }

    header .dark-mode-switch {
        grid-area: "darkmode";
        display: flex;
    }

    header .dark-mode-switch img {
        height: 5vh;
    }

    footer {
        padding-bottom: 1rem;
        text-align: center;
    }

    main > section {
        padding-left: 1rem;
        align-items: center;
        padding-left: 15%;
        padding-right: 15%;
    }

    main > section h1,
    main > section h2,
    main > section h3 {
        padding-left: 0;
        padding-right: 0;
    }

    main .home {
        padding-top: 1vh;
        display: block; 
        flex-direction: column;
    }

    main img {
        width: 40%;
    }

    main .home h1 {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
    }

    main .home h1 span {
        text-align: center;
    }

    main .home > div {
        width: 100%;
        display: flow-root;
    }

    main .home > div p {
        color: var(--color1);
        text-align: left;
        padding: 0;
        margin: 0;
        margin-bottom: 1.5rem; 
    }

    main .home > div p:last-child {
    margin-bottom: 0;
}

    main .home > div div {
        width: auto;
    }

    main .home > div img.pc {
        float: left;
        width: 30%;
        border-radius: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    main .differential h2 {
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        color: var(--highlight);
    }

    main .knowledge ul h3 {
        align-self: flex-start;
        padding-left: 20%;
    }

    main .knowledge ul li {
        padding-left: 20%;
    }

    main .knowledge ul li img {
        width: 64px;
    }

    main .knowledge ul li span {
        font-size: 1.85rem;
        font-weight: 400;
        color: var(--color3);
    }

    main .projects .project {
        display: flex;
        flex-direction: column;
    }

    main .projects .project h3 {
        font-size: 3rem;
        font-weight: 750;
        font-style: italic;
        color: var(--blue-fg-title);
        text-decoration: none;
    }

    main .projects .project .presentation {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    main .projects .project .presentation div {
        text-wrap: wrap;
        width: 30%;
    }

    main .projects .project .presentation div p {
        padding: 0px;
    }

    main .projects .project .presentation div .details ul li {
        font-size: 2.0rem;
        align-self: flex-start;
        color: var(--color1);
        line-height: 2.5rem;
    }

    main .projects .project .presentation .details {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        flex-wrap: wrap;
    }

    main .projects .project .presentation .pc {
        display: inline-block;
        width: 60%;
    }

    main .projects .project .presentation .details .pc {
        display: inline-block;
        width: 80%;
        align-self: center;
    }

    main .projects .project .presentation .phone {
        display: none;
    }

    main .projects .project .presentation .details .phone {
        display: none;
    }

    main .projects .project .project-buttons div a button {
        width: 20rem;
        height: 4rem;
        border-radius: 2rem;
        font-size: 2rem;
    }
    
    main .education .course h3 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    main .education .course span {
        font-size: 1.5rem;
        color: var(--color3);
    }

    main .education .course span strong {
        font-size: 2rem;
    }

    main .contacts {
        padding-bottom: 6vh;
    }

    main .contacts .contact-info {
        padding: 2rem 4rem;
        border-radius: 2rem;
    }

    main .contacts .contact-info a img{
        width: 64px;
    }

    main .contacts .contact-info a span{
        margin-left: 1.5rem;
        overflow-wrap: break-word;
        font-size: 2.5rem;
    }
}